html,
body {
  width: 100%;
  background: #eeeeee;
}

header {
  background: #ffe600;
}

.content-center {
  padding: 0 30px;
  clear: both;
}

.menu-top {
  display: flex;
}

.text-gray {
  color: #666666;
}

.menu-top form {
  width: 94%;
  color: #999999;
}
.menu-top input[type="search"] {
  width: 96%;
  display: block;
  float: left;
  margin: 6px 0px 0px 0px;
  padding: 8px 9px;
}

.menu-top button {
  width: 34px;
  height: 23px;
  margin-top: 5px;
  float: right;
}

.menu-top .logo {
  margin-right: 16px;
}

.App-header {
  background: #ffe600;
}
.title {
  color: #333333;
}
.text-large {
  color: #666666;
}
.btn-primary {
  background: #3483fa;
}

/*::::::::::Breadcrumb:::::::::::*/

#breadcrumb {
  display: inline-block;
  margin: 0;
  padding-left: 0;
}
#breadcrumb > li {
  float: left;
  list-style: none;
  padding: 16px 4px 16px 0;
  color: #666666;
}

#breadcrumb > li:after {
  content: " > ";
  display: inline-block;
  margin: 0px 5px;
}

#breadcrumb > li:last-child:after {
  content: "";
}

/*:::::::::::::Products:::::::::::*/

.product-list {
  background: #eeeeee;
  clear: both;
}

.item-description {
  float: left;
  color: #333333;
}
.item-description h2 {
  margin-bottom: 32px;
  margin-top: 25px;
}

.list-item {
  clear: both;
  width: 100%;
}

.list-item > a > img {
  float: left;
  width: 180px;
  height: 180px;
  margin: 16px;
}

.item-right {
  float: right;
  color: #999999;
}

/*::::::::::::Product details:::::::::::::::*/

.product-col-1 img {
  clear: both;
  width: 507px;
  height: 291px;
  display: block;
  margin: 0 auto;
}

.product-col-1 {
  width: 80%;
  float: left;
  background: #fff;
}

.product-col-1 h2 {
  font-size: 28px;
}
.product-col-1 p {
  font-size: 16px;
}
.product-col-2 {
  width: 15%;
  float: right;
  margin-right: 32px;
}

.product-col-1 > div {
  margin: 32px;
}
.product-col-1 > h2 {
  margin: 32px;
}

.product-title {
  font-size: 24px;
  clear: both;
}

.price {
  font-size: 46px;
  clear: both;
  margin: 32px 0;
}

.text-small {
  color: #666666;
  font-size: 14px;
  clear: both;
  margin-top: 32px;
  display: inline-block;
  margin-bottom: 16px;
}

.btn-primary {
  background: #3483fa;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 10px;
}
html,
body {
  width: 100%;
  background: #eeeeee;
}

header {
  background: #ffe600;
}

.content-center {
  padding: 0 30px;
  clear: both;
}

.menu-top {
  display: flex;
}

.menu-top form {
  width: 100%;
  color: #999999;
  position: relative;
  margin: 8px 0;
}
.menu-top input[type="search"] {
  width: 100%;
  display: block;
  right: 0;
  margin: 0;
  border: none;
}

.menu-top button {
  width: 34px;
  height: 32px;
  margin-top: 0;
  position: absolute;
  z-index: 2;
  right: 0;
  border: none;
}

.menu-top button img {
  margin-top: 4px;
}

.menu-top .logo {
  margin-top: 6px;
}

.App-header {
  background: #ffe600;
}
.title {
  color: #3333333;
}
.text-large {
  color: #6666666;
}
.btn-primary {
  background: #3483fa;
}

/*::::::::::Breadcrumb:::::::::::*/

#breadcrumb {
}
#breadcrumb > li {
  float: left;
  list-style: none;
  padding: 16px 4px 16px 0;
  color: #666666;
}

#breadcrumb > li:after {
  content: " > ";
  display: inline-block;
  margin: 0px 5px;
}

#breadcrumb > li:last-child:after {
  content: "";
}

#breadcrumb > li > a {
}

/*:::::::::::::Products:::::::::::*/

.product-list {
  clear: both;
}

.item-description {
  float: left;
  color: #333333;
}
.item-description h2 {
  margin-bottom: 32px;
  margin-top: 25px;
}

.list-item {
  clear: both;
  width: 100%;
  background: #fff;
  overflow: hidden;
}

.currency-type {
  display: inline-block;
  margin-right: 8px;
}

.list-item > img {
  float: left;
  width: 180px;
  height: 180px;
  margin: 16px;
}

.item-right {
  float: right;
  color: #999999;
  width: 40%;
  text-align: center;
  margin-top: 37px;
}

/*::::::::::::Product details:::::::::::::::*/

.product-col-1 img {
  clear: both;
  width: 507px;
  height: 291px;
  display: block;
  margin: 0 auto;
}

.product-col-1 {
  width: 80%;
  float: left;
}

.product-col-1 h2 {
  font-size: 28px;
}
.product-col-1 p {
  font-size: 16px;
}
.product-col-2 {
  width: 15%;
  float: right;
  margin-right: 32px;
  background: #fff;
}

.bg-white {
  background: #fff;
  overflow: hidden;
}

.product-col-1 > div {
  margin: 32px;
}
.product-col-1 > h2 {
  margin: 32px;
}

.product-title {
  font-size: 24px;
  clear: both;
}

.price {
  font-size: 46px;
  clear: both;
  margin: 32px 0;
}

.text-small {
  color: #666666;
  font-size: 14px;
  clear: both;
  margin-top: 32px;
  display: inline-block;
  margin-bottom: 16px;
}

.btn-primary {
  background: #3483fa;
  text-align: center;
  display: inline;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: solid 1px #3483fa;
  color: #fff;
}
